@page
@model azure_app_kembos.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h3>
        Validating deployment slots feature
    </h3>
</div>